
@{
    ViewData["Title"] = "AddWaterMark";
}

<h1>AddWaterMark</h1>

<form asp-controller="Home" asp-action="AddWaterMark" method="post" enctype="multipart/form-data">

    <input type="file" name="image" />
    <button type="submit">Kaydet</button>
</form>